[submodule "claire/src/frontend"]
	path = claire/src/frontend
	url = https://github.com/aneshas/claire-frontend
[submodule "claire/src/backend"]
	path = claire/src/backend
	url = https://github.com/aneshas/claire-go-backend
